.message-page {
  position: relative;
}

.message-header {
  max-height: 20vh;
}

.message-body {
  max-height: 60vh;
  overflow-y: auto;
}

.message-input {
  max-height: 20vh;
}

.overflow-control {
  word-wrap: break-word;
}

.image-limiter {
  max-width: 100px;
  max-height: 100px;
}
